// Place all the styles related to the vis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart_div{
  width: 900px;
  height: 600px;
  margin: auto;
}